extends ../layout
script(src='/javascripts/upload.js')

block content
  .container
    if post.id
      h1.page-header 글수정
    else
      h1.page-header 등록

    form(action = (post.id) ? "/posts/#{post.id}?_method=PUT" : "/posts", method='POST')
      .form-group
        label(for='title') 제목
        input.form-control(type='text', id='title', name='title', placeholder='title', value=post.title)
      .form-group
        label(for='content') Content
        textarea.form-control(id='content', rows='10', name='content', placeholder='content here')= post.content
      .form-group
        label(for='city') City
        input.form-control(type='city', id='city', name='city', placeholder='City', value=post.city)
      .form-group
        label(for='address') address
        input.form-control(type='address', id='address', name='address', placeholder='Address', value=post.address)
      .form-group
        label(for='fee') Fee / 1 Day
        input.form-control(type='fee', id='fee', name='fee', placeholder='Fee', value=post.fee)  
      .form-group
        label(for='facility') Facility
        input.form-control(type='facility', id='facility', name='facility', placeholder='facility', value=post.facility) 
      .form-group
        label(for='rule') Rule
        input.form-control(type='rule', id='rule', name='rule', placeholder='Rule', value=post.rule) 
      div.form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
