extends ../layout

// 상세보기
block content
  .container
    h1.page-header 상세 정보
    p
      b by #{post.name}
      | 
      span at #{moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss')} 
      | 
      | (조회수 #{post.read})
    label(for='title')* 제목 *
    p.well(style='white-space:pre;')= post.title
    label(for='content')* 내용 *
    p.well(style='white-space:pre;')= post.content
    label(for='city')* 도시 *
    p.well(style='white-space:pre;')= post.city
    label(for='address')* 주소 *
    p.well(style='white-space:pre;')= post.address
    label(for='fee')* 요금 *
    p.well(style='white-space:pre;')= post.fee
    label(for='facility')* 시설 *
    p.well(style='white-space:pre;')= post.facility
    label(for='rule')* 이용규칙 *
    p.well(style='white-space:pre;')= post.rule
    label(for='rule')* 사진첨부 *
    p.well(style='white-space:pre;')= post.file
    
    a.btn.btn-default(href='/posts') 목록
    
    if(currentUser.id==post.user)
      a.btn.btn-primary(href='/posts/reserveList/#{post.user}') 예약 현황
    else
      a.btn.btn-primary(href='/posts/reserve/#{post._id}') 예약 요청
  
        // 예약 새 페이지 만들기
